.card {
  display: flex;
  background-color:  #beceb0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 3px 5px 1px rgb(0, 0, 0);
  padding: 45px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
  height: auto;
border-radius: 15px;
padding: 1.8rem;
border: 3px solid #5d5e62;
transition: 0.5s ease-out;
overflow: visible;
transition: transform 0.3s;
text-decoration: none  !important;
  }
.card:hover{
  transform:scale(1.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #d7ffdf;
  color: #f3efef;
}
.card-details{
color: black;
height: 100%;
gap: .5em;
display: grid;
place-content: center;
  }

.body{

font-size: 1.5em;
font-weight:bold;
font-family:'Times New Roman', Times, serif ;
  }
  .title{
    color: #0d0d0d;
text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
  }

  .card:hover{
    border-color: #929ba2;
    box-shadow: 0 4px 18px 0  rgba(0, 0, 0, 0.25);
  }

  .card:hover .card-button{
transform: translate(-50%,50%);
opacity :1;
  }
  .card img {

    background-color: #dfb3b0;
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    border-radius: 4px;
    width: 90%;
    height: 60%;
    
  }
  

.Name {
  text-decoration: none !important;
    display: flex;
    color:rgb(9, 9, 8);
    font-style: italic;
    font-weight: 400;    
    text-shadow: 10px 4px 5px rgba(0,0,0,0.43);
    padding: 3px 3px 3px 3px;    
}
