.searchButton {
height: 50px;
cursor:pointer;
display: flex;
align-items: center;
background: transparent;
border: 2px solid black;
border-radius: 5px;
box-shadow: 1px 1px 3px 
rgba(145, 3, 3, 0.15);
background: #abcdcd;
margin-top: -900px;
margin-left: 770px;
text-align: center;
width: 10%;
}

.button,button span{
    transition: 200ms;
}
.button .text {
    text-align: center;
    transform: translateX(35px);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.button .icon {
    text-align: center;
    position: absolute;
    border-left: 1px solid #c4c4c4;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button svg{
    width: 25px;
    fill:#eee
}
.button:hover .text{
    color: transparent;
}
.button:hover .icon{
    width: 150px;
    border-left: none;
    transform: scale(0.8);
}
.searchButton:hover {
    color:#52595f;
    background-color: #8cba51;
}

.search {
    display: flex;
font-weight: bold;
}

.searchInput {
    position: absolute;
margin-top: -900px;
margin-left: 157px;
    margin-bottom: 5px;
    padding-top: 31px;
    font-weight: lighter;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}


.inputContainer{
width: 200px;
position: relative;
}

.icon{
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);

    transform: translate(calc(-50% - 5px));
}
.input{
    width: 100%;
    height: 40px;
    padding: 10px;
    transition :.2s linear;
    border:2.5px solid black;
    font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
}

.input:focus{
    outline: none;
    border: o.5px solid black;
    box-shadow: anim 1s linear infinite;
}
@keyframes anim{
    0%,
    100%{
        transform: translateX(calc(-50%- 5px))
        scale(1.1);
    }
    50%{
        transform: translateY(calc(-50% - 5px))
        scale(1.1);
    }
}