.mainContainer {
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px ;
    border: 3px solid black;
  background-color: transparent;}
  
.body{
text-align: center;
display: flex;
height: 100vh;
width: 100%;
justify-content: center;
align-items: center;
padding: 0 20px;
}
.navbar {
  text-decoration: none;
  border: 3px solid rgb(202, 190, 190);
top: 10%;
left: 2%;
position: absolute;
  padding: 0;
  margin:0;
  display: inline-flex;
  background-color: #afa3a3;
  border-radius: 40px;
  box-shadow: 0  10px 40px rgba(159,162, 177, .8);
  }
  
.item{
color: #333;
padding: 20px;
text-decoration: none;
transition: .3s;
margin: 0 6px;
z-index: 1;
font-family:'DM Sans',sans-serif;
font-weight: bold;
letter-spacing: 2px;
position: relative;
  }
    
  .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    text-decoration: none;
    background-color: #ddd;
  }
  .indicador{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;

  }