.filters {
    display: flex;
    color: rgb(6, 6, 75);
    font-style: italic;
    font-weight: 500;    
    text-shadow: 6px 4px 5px rgba(0,0,0,0.43);
    padding: 10px 3px 0px;
    
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: blueviolet;
}
